.order_container {

}

.title {
    display: flex;
    flex-direction: row;
    background-color: rgb(32, 32, 119);
    color: white;
    justify-content: center;
    height: 50px;

}

.title_before {
    cursor: pointer;
    left: 10px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: absolute;
}

.title_name {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.order_image_container {
    width: 100%;
    height: 250px;
    background-color: white;
    position: relative;
}

.order_iamge {
    height: 200px;
    width: 100%;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    
    }
}

.order_title {
    border-radius: 15px;
    position: absolute;
    bottom: 45px;
    width: 90%;
    height: 50px;
    line-height: 50px;
    left: calc(50% - 45%);
    background-color: white;
    box-shadow: 0px 0px 5px lightgray;
    font-weight: bold;
    text-align: center;
}

.order_price {
    display: flex;
    flex-direction: row;
    line-height: 50px;
    height: 50px;
    position: relative;
    font-weight: bold;

    & > div:nth-child(1) {
        margin-left: 15px;
    }

    & > div:nth-child(2) {
        position: absolute;
        right: 15px;
    }
}

.order_cup {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.order_cup_title {
    font-weight: bold;
}

.order_cup_select {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    & > div:nth-child(1) {
        margin-right: 10px;
    }

    & > div {
        transition: 0.3s;
        width: 50%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border: 1px solid lightgray;
        border-radius: 10px;
    }
}


.order_option {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-top: 1px solid lightgray;
}


.order_option_title  {
    font-weight: bold;
}

.order_option_container {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;

}

.order_option_text {
    margin-left: 10px;
}

.order_option_price {
    position: absolute;
    right: 5px;
}

.shot_add_container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid lightgray;
    padding: 10px;

}
.show_add_title {
    font-weight: bold;
    margin-bottom: 10px;
}

.shot_add_text {
    margin-right: 10px;
    text-align: right;
}

.shot_add_option {
    display: flex;
    flex-direction: row;
    height: 30px;
    line-height: 30px;
}

.show_plus_minuse {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5px;

    & > div:nth-child(1) {
        width: 100px;
        height: 30px;
        line-height: 30px;
    }

    & > div:nth-child(2) {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50px;
        text-align: center;
        border: 1px solid lightgray;
    }
    & > div:nth-child(3) {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    & > div:nth-child(4) {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50px;
        text-align: center;
        border: 1px solid lightgray;
    }
}


.order_cnt_container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top: 1px solid lightgray;
    background-color: white;
    height: 40px;
    line-height: 40px;
}

.order_cnt_title {
    font-weight: bold;

}

.order_cnt_plus_minus {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5px;
    margin-top: 5px;
    & > div:nth-child(1) {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50px;
        text-align: center;
        border: 1px solid lightgray;
    }
    & > div:nth-child(2) {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    & > div:nth-child(3) {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50px;
        text-align: center;
        border: 1px solid lightgray;
    }
}

.order_cnt_plus_minus {
    display: flex;
    flex-direction: row;
}

.order_top {
    height: calc(100vh - 122px);
    overflow: auto;

}

.backpack_box {
    display: flex;
    flex-direction: row;
}

.backpack_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 70px;
    background-color: rgba(173, 216, 230, 0.587);
    
}

.backpack_box {
    text-align: center;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 90%;
    background-color: rgb(32, 32, 119);
    color: white;
    
    & > div:nth-child(1) {
        margin-top: 5px;
        font-weight: bold;
    }

    & > div:nth-child(2) {
        margin-bottom: 5px;
        color: rgb(250, 216, 153);
    }
}

.order_cup_active {
    background-color: rgb(32, 32, 119);
    color: white;
}

.order_cup_inactive {

}