.image_container {
    display: flex;
    flex-direction: row;
}

.image {
    height: 40vh;
    object-fit: cover;
}

.main_contanier {
    height: 100vh;
}

.stamp {
    position: relative;
    border-radius: 10px;   
    background-color: white;
    border: 1px solid lightgray;
    z-index: 100;
}

.box_container {
    top: -30px;
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.nickname {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}


.stamp_container {
    padding: 10px;
    border-radius: 100px;
}


.stamp_menu {
    display: flex;
    flex-direction: row;
    
    & > div {
        width: 25%;
        text-align: center;
    }

    & > div > img {
        width: 20px;

    }
    
}

.menu_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;


    & > div:nth-child(2n - 1) {
        margin-right: 10px;
    }
    & > div {
        cursor: pointer;
        border: 1px solid lightgray;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: white;
        width: calc(50% - 7px);
        text-align: center;
        height: 10vh;
        line-height: 10vh;
    }

}

.notice {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    font-size: 12px;

}

.notice_title {
    margin-right: 20px;
}